<div class="new-game-container">
  <mat-card>
    <h1>Register New Game</h1>
    <form class="form-box" [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field appearance="outline" class="form-field-full">
        <mat-label>Game Title</mat-label>
        <input
          matInput
          placeholder="Write the game title here"
          formControlName="title"
        />
      </mat-form-field>

      <div>
        <mat-form-field appearance="outline" class="form-field-half">
          <mat-label>Game Year</mat-label>
          <input
            matInput
            placeholder="Write the game title here"
            formControlName="year"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field-half">
          <mat-label>Console</mat-label>
          <mat-select formControlName="console">
            <mat-option *ngFor="let console of consoles" [value]="console">{{
              console
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline" class="form-field-full">
        <mat-label>Personal Notes</mat-label>
        <textarea matInput formControlName="personalNotes"></textarea>
      </mat-form-field>

      <div class="completion-date">
        <mat-slide-toggle formControlName="completed"
          >Completed</mat-slide-toggle
        >
        <mat-form-field
          color="accent"
          appearance="outline"
          class="form-filed-half"
        >
          <mat-label>Date of Completion</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="dateOfCompletion"
            [disabled]="!f.completed.value"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <button mat-raised-button color="accent" class="btn-submit" type="submit">
        Register
      </button>
    </form>
  </mat-card>
</div>
