.catalog-container {
    margin: 20px 20px 20px 20px;
    width: 98vw;
    display: flex;
    flex-direction: column;
}

.spinner-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    margin-top: 20px;
    width: 10vw;
    height: 20vh;
    margin-bottom: 20px;
}